/** BEM 작명 규칙 
 *  __ : ~의 일부분    (예- container__item)
 *  -- : ~의 상태      (예- btn--success)
 *   - : 일반적인 작명 (예- toggle-button)
 */

/*
 * COMMON 
 */
.body__container {
  font-family: "Roboto", "san-serif";
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

/*
 * BUTTON COMPONENT 
 */
.btn {
  display: inline-flex;
  align-items: center;
  height: 34px;
  background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
  border: 1px solid lightgray;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0px 12px;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}
.btn:hover::before {
  /* btn--primary btn-success 등 모든 종류 btn 커버하기 위해 before 사용 */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.08);
}
.btn.btn--primary {
  color: white;
  border: 1px solid #65b836;
  background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/*
 * INPUT COMPONENT :
 * type(text, ..)에 따라 바뀔 수 있으니 주의 
 */
.input--text {
  /*box-shadow, outline, focus*/
  height: 34px;
  padding: 0px 10px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
}
.input--text:focus {
  border-color: #51a728;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12),
    0 0px 5px rgba(81, 167, 232, 0.5);
}
/* Vendor Prefix(브라우저 업체별 접두사) 
 * 실험적 기능 사용 가능 (웹표준 X) */
.input--text::-webkit-input-placeholder {
  /* placeholder의 색을 변경 */
  color: #cacaca;
}
.input--text::-ms-input-placeholder {
  color: #cacaca;
}
.input--text::-moz-placeholder {
  color: #cacaca;
}
